* {
    font-family: 'Karma' sans-serif;
}

h3 {
    font-size: 18px;
    color: #000;
    margin: 18px 0;
    text-align: center;
}

.header > p {
    text-align: center;
    font-size: 20px;
    margin: 10px 0;
}

p {
    font-size: 15px;
    margin: 15px 0;
    line-height: 15px;
}

.food__nav {
    width: 80%;
    margin: 0 auto;
}

.item {
    text-align: center;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    margin-left: 6px;
}

.item-nav {
    width: 24%;
    margin: 0 5px;

}

.item-nav img {
    height: 300px;
    width: 100%;
}

.slider {
    border-bottom: 2px solid #ccc;
    margin: 20px 0;
}

.about-img {
    text-align: center;
}

.about-text2 {
    text-align: center;
}

.about-text2 p {
    padding: 5px 125px;
}

.footer {
    width: 80%;
    margin: 0 auto;
}

.footer-box {
    display: flex;
    flex-wrap: wrap;
}

h4 {
    text-align: none;
}

.footer-a {
    width: 33.33333%;
}

.footer-a p {
    line-height: 1.5;
}
